{% extends '::base.html.twig' %}

{% block title %}Emmediate Credit Solutions{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}


<h1>Position creation</h1>

<form action="{{ path('agentmanager_empositions_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('agentmanager_empositions') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}